[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "/api/*"
  to = "https://codeless-stan-concurrently.ngrok-free.dev/:splat"
  status = 200
  force = true
